<footer class="navbar navbar-expand navbar-light bg-light bg-gradient border-top">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    
    <!-- Empty div to balance spacing on the left -->
    <div></div>

    <!-- Centered last updated -->
    <div class="text-center">
      <small class="text-muted">Last updated: {{ site.time | date: "%B %d, %Y" }}</small>
    </div>

    <!-- Right-aligned Techfolios credit -->
    <div>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <small><a class="nav-link" href="https://techfolios.github.io">Made with Techfolios</a></small>
      </ul>
    </div>
  </div>
</footer>
